<div class="header">
  <a ><img align="middle" hspace="38" vspace="15" src="/assets/images/SonyATV-New-logo.png" name="atv_logo" alt="Sony/ATV Music Publishing" border="0"></a>
</div>

<div id="header_nav">
  <table style="position:relative; bottom:35px; width:100%; height:17px;">
    <tbody>
      <tr ng-if="isAuthenticated()">
        <td align="left" style="width:300px">
          Logged in as {{userRepo.clientData.account.user.firstName}} {{userRepo.clientData.account.user.lastName}},
          <a ui-sref="login">Logout</a>
        </td>
        <td nowrap="true" align="left" style="width:100px">
          <a href="">FAQ/User Guide</a>
        </td>
        <td nowrap="true" align="left" style="width:100px">
          <a href="">Download Forms</a>
        </td>
        <td nowrap="true" align="left" style="width:100px">
          <a href="">Change Email</a>
        </td>
        <td nowrap="true" align="left" style="width:100px">
          <a href="">Authorized Users</a>
        </td>
      </tr>
      <tr ng-if="isAuthenticated() == false">
        <td></td>
      </tr>
    </tbody>
  </table>

  <a href="" ng-if="isAuthenticated()">
    <img src="/assets/images/sonyatv_nav_01.gif" name="statements" alt="Client Statements">
  </a>

  <a href="">
    <img src="/assets/images/sonyatv_nav_02.gif" name="musicsearch" alt="Music Search">
  </a>

  <a href="">
    <img src="/assets/images/sonyatv_nav_03.gif" name="news" alt="News">
  </a>

  <a href="">
    <img src="/assets/images/sonyatv_nav_04.gif" name="writers" alt="Writers">
  </a>

  <a href="">
    <img src="/assets/images/sonyatv_nav_05.gif" name="contact" alt="Contact">
  </a>

  <table style="position:relative; bottom:15px; width:100%; height:17px;">
    <tbody>
      <tr>
        <td style="width:914px"></td>
        <td></td>
      </tr>
    </tbody>
  </table>
</div>