/**
 * This is the main application stylesheet. It should include or import all
 * stylesheets used throughout the application as this is the only stylesheet in
 * the Grunt configuration that is automatically processed.
 */


/**
 * First, we include the Twitter Bootstrap LESS files. Only the ones used in the
 * project should be imported as the rest are just wasting space.
 */




/**
 * This is our main variables file. We must include it last so we can overwrite any variable
 * definitions in our imported stylesheets.
 */

@import 'variables.less';

.login-body {
  background:#222 url("images/footer.jpg") no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
}

#login-container {
  padding: 150px 0px 0px 0px;
}

.distributor-body {
  background:#222 url("images/drums.jpg") no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
}

.publisher-body {
  background:#222 url("images/guitar.jpg") no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
}

footer {
  padding: 10px 0 10px;
  position: relative;

  opacity: 0.9;
  filter: alpha(opacity=90);
  background-color: #222;
  z-index: 1;

  a {
    margin: 0px 20px 0px 20px;
    color: #fff;
  }
}

.footer-news {
  color: #fff;

  h1 {
    font-size: 24px;
  }

  a {
    margin: 0px 0px 10px 0px;
    text-decoration: underline;
  }

  font-size: 14px;

}

a { text-decoration: none; }

// .lyric-body {
//   background:#222 url("images/drums.jpg") no-repeat;
//   -webkit-background-size: cover;
//   background-size: cover;
// }

.lyric-content {
  background-color: transparent;
}

.statement-container{
  background-color: #222;
  opacity: 0.9;
  filter: alpha(opacity=90);

  color: #fff;

  tr th {
    color: #fff !important;
  }

  h1 {
    color: rgb(255,152,0);
  }

  padding-top: 15px;
}

.lyric-link {
  color: rgb(255,152,0) !important;

}

.lyric-container {
	margin-top: 15px !important;
}

.vendor-name-header {
	color: white;
	font-size: 30px;
	float: left;
	margin: 20px 0px;
  vertical-align: middle;
}

.widget-container {
  border-style: none !important;
  

  div {
    font-size: 8px;
  }
}

.btn-advance {
  background-color: #ed1b23;
  color: #fff;
  margin-left: 20px;
}

.widget-label {
  width: 110px;
}

.widget-value {
  width: 25px;
  float: left;
}

/**
 * Now that all app-wide styles have been applied, we can load the styles for
 * all the submodules and components we are using. 
 *
 * TODO: In a later version of this boilerplate, I'd like to automate this.
 */

@import '../less/master.less';
@import '../less/release_view_checklist.less';
