
	<form id="login_form" name="" method="post" autocomplete="off">
		<div id="template_top_r_login_hdr">
			<img src="/assets/images/tbl_hdr_login.gif" width="132" height="16" alt="Login to Your Account">
		</div>
			
		<span class="label" style="width: 100px;">Enter your PIN:</span><br>
		<input type="text" name="pin">
	
		<br><br>
		
		<a id="pin_submit_btn" class="btn" ng-click="login()">Login</a>
		<a ng-click="loginObject.showPin=false" class="btn">Cancel</a>
        
	</form>

	<div style="margin-top:8px">';
		<a style="color:#fff;font-size:7pt" href="" id="forgot_pin_btn">Forgot PIN?</a>
	</div> 
	<br><br>

	<div class="msg"></div>
