<div layout="row" layout-align="center end" flex>
  <div flex></div>
	<div class='footer-news' flex='20' ng-if="$state.current.name=='login'">
    <h1>In the News</h1>
    <a href>Get money now with SNAP, Lyric's new 'virtual atm'</a>
    <br/>
    <br/>
    <a href>Lorem ipsum dolor sit amet.</a>
    <br/>
    <br/>
    <a href>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean posuere dolor ipsum, in semper arcu pellentesque.</a>
  </div>
  <div flex></div>
  <a href>Terms</a>
  <img src="assets/images/new-logo.png" style="width:112;height:74px">
  <a href>FAQs</a>
  <div flex></div>
  <div class='footer-news' flex='20' ng-if="$state.current.name=='login'">
    <h1>Twitter</h1>
    <fa name="twitter" size="2" ng-style="{'color': 'white'}"></fa>
    Lorem ipsum dolor sit amet. <a href>https://a.btl.w23s</a>
    <br/>
    <i>4 hours ago</i>
    <br/>
    <br/>
    <fa name="twitter" size="2" ng-style="{'color': 'white'}"></fa>
    Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet. <a href>https://ser.23.3s</a>
    <br/>
    <i>2 days ago</i>
  </div>
  <div flex></div>
</div>