<header class="header">
  <section class="hd-top">
    <div class="row">
      <div class="twelve columns">
        <div class="vendor-name-header">
          <h1>{{vendorType | capitalize}} Demo <a href ng-if="vendorType=='distributor'" ui-sref='publisher'>(Switch to Publisher)</a><a href ng-if="vendorType=='publisher'" ui-sref='distributor'>(Switch to Distributor)</a></h1> 
        </div>
          <nav class="site_controls">
            <menu class="notifications seen">
              <a href="/notifications/dropdown" class="notifications_link" data-remote="true" data-type="html"><i class="fa fa-bell fa-lg fa-2x"></i> <div class="notifications_count">0</div></a>
              <section class="notifications_dropdown hidden">
                <header>
                  <h1>Notifications</h1>
                </header>
                <ul></ul>
                <footer>
                  <a href="/notifications">View all notifications</a>
                </footer>
              </section>
            </menu>
            <a href="/my_account/list_transactions">Balance: {{closingBalance | currency}}</a>

            <menu class="menu">
              <a href tabindex="0" title="kevin day"><i class="fa fa-user"></i> {{clientData.firstName}} {{clientData.lastName}}</a>
              <menu class="options">
                <a href>Account Settings</a>
                <a href>Order History</a>
                <div class="hr"></div>
                <a href ng-click="logout()">Log Out</a>
              </menu>
            </menu>
            <menu class="admin_controls">
            </menu>
          </nav>

          <menu class="mobile mobile-top">
            <a href="/help"><i class="fa fa-question-circle fa-lg fa-2x"></i></a>
          </menu>
      </div>
    </div>
  </section>
    <section class="mobile mobile-admin">
    </section>
  <section class="hd-bottom">
    <div class="row">
      <div class="twelve columns">
        <nav><ul class="nav">
            <li>
              <a href="#" tabindex="0">Music</a>
              <ul class="music">
                <li>
                  <a href="/discography">
                    <strong>Discography</strong>
                    <span>A list of all your releases.</span>
                  </a>
                </li>
                <li>
                  <a href="/store_manager">
                    <strong>Store Manager</strong>
                    <span>Send your releases to more stores.</span>
                  </a>
                </li>
                <li>
                  <a href="/albums/new">
                    <strong>Add a new album</strong>
                    <span>2 songs or more.</span>
                  </a>
                </li>
                <li>
                  <a href="/singles/new">
                    <strong>Add a new single</strong>
                    <span>1 song that's shorter than 10 min.</span>
                  </a>
                </li>
                <li>
                  <a href="/ringtones/new">
                    <strong>Add a new ringtone</strong>
                    <span>1 track that's 5-30 secs long.</span>
                  </a>
                </li>
                <li>
                  <a href="/credits">
                    <strong>Distribution Credits</strong>
                    <span>If you release a lot of music this is the place for you. Buy packs of 5, 10 or 20 credits.</span>
                  </a>
                </li>
                <li>
                  <a href="/videography">
                    <strong>Videography</strong>
                    <span>A list of your awesome videos.</span>
                  </a>
                </li>
              </ul>
            </li>
              <li>
                <a href="#" tabindex="0">Publishing Administration</a>
                <ul class="publishing_administration">
                  <li>
                    <a href="/songwriters">
                      <strong>How it works</strong>
                      <span>An overview of what this service is all about.</span>
                    </a>
                  </li>
                  <li>
                    <a href="http://pub.help.tunecore.com/app/home" target="_blank">
                      <strong>Knowledge Base</strong>
                      <span>Answers to the most frequently asked questions.</span>
                    </a>
                  </li>
                  <li>
                    <a href="/index/terms#publishing_administration_terms"><strong>Terms &amp; Conditions</strong><span>The current terms of the Publishing Administration agreement.</span></a>
                  </li>
                  <li>
                    <a href="/composers/new">
                      <strong>Register</strong>
                      <span>The first step in claiming your publishing royalties is songwriter registration.</span>
                    </a>
                  </li>
                </ul>
              </li>
            <li>
              <a href="/artist_services" tabindex="0">Artist Services</a>
            </li>
            <li>
              <a href="/youtube_monetizations" class="artist_services">YouTube Monetization</a>
            </li>
            <li>
              <a href="#" tabindex="0">Money &amp; Reports</a>
              <ul class="reports">
                <li>
                  <a href="/my_account/list_transactions">
                    <strong>Balance $649.43</strong>
                    <span>See your transactions, balance history and withdraw your money.</span>
                  </a>
                </li>
                <li>
                  <a href="/sales/date_report" class="loadingDialog">
                    <strong>Music Sales</strong>
                    <span>Official details on what you sold, when, where &amp; for how much. New sales reports are posted on Fridays.</span>
                  </a>
                </li>

                <li>
                  <a href="/youtube_royalties/release_report">
                    <strong>YouTube Sound Recording Revenue</strong>
                    <span>Monthly reports include: Your net revenue from YouTube. Plus total number of videos, monetized videos, total views and monetized views.</span>
                  </a>
                </li>

                <li>
                  <a href="/trend_reports" class="loadingDialog">
                    <strong>Daily Trend Reports</strong>
                    <span>Your daily sales &amp; streams on iTunes, Spotify and Amazon. Includes country info for each sale/stream, plus city and postal code for iTunes sales.</span>
                  </a>
                </li>
                <li>
                  <a href="/my_account/exports">
                    <strong>Downloadable Sales Reports</strong>
                    <span>All your official sales data in handy, downloadable spreadsheet files.</span>
                  </a>
                </li>
                <li>
                  <a href="/my_account/youtube_exports">
                    <strong>Downloadable YouTube Reports</strong>
                    <span>All your official YouTube revenue data in handy, downloadable spreadsheet files.</span>
                  </a>
                </li>
              </ul>
            </li>
            <li>
              <a href="#" tabindex="0">Promote</a>
              <ul class="promote">
                <li>
                  <a href="/guides">
                    <strong>Survival Guides</strong>
                    <span>Free expert advice on promotion, copyright &amp; much more.</span>
                  </a>
                </li>
                <li>
                  <a href="/bandpages/new">
                    <strong>Band Page</strong>
                    <span>Your public profile on TuneCore.</span>
                  </a>
                </li>
                <li>
                  <a href="/band_photos">
                    <strong>Band Photo</strong>
                    <span>Your best shot or cover art.</span>
                  </a>
                </li>
                <li>
                  <a href="/widgets">
                    <strong>Media Players</strong>
                    <span>customizable players you can share &amp; use to collect emails from fans.</span>
                  </a>
                </li>
                <li>
                  <a href="/fans">
                    <strong>Fans</strong>
                    <span>People who gave you their email via your Media Players.</span>
                  </a>
                </li>
              </ul>
            </li>
            <li>
              <a href="http://www.tunecore.com/blog" target="_blank" tabindex="0">Blog</a>
            </li>
        </ul></nav>

          <menu class="mobile mobile-bottom">
            <div class="user">
              <a href="#" tabindex="0" title="kevin day">kevin day</a>
            </div>
            <menu class="main_menu">
              <a href="#" class="open_menu"><i class="fa fa-bars"></i><i class="fa fa-caret-down"></i></a>
              <nav class="mobile-nav">
                <ul>
                  <li>
                    <a href="#" tabindex="0">Music</a>
                    <ul class="music">
                      <li>
                        <a href="/discography">
                          <strong>Discography</strong>
                        </a>
                      </li>
                      <li>
                        <a href="/store_manager">
                          <strong>Store Manager</strong>
                        </a>
                      </li>
                      <li>
                        <a href="/albums/new">
                          <strong>Add a new album</strong>
                        </a>
                      </li>
                      <li>
                        <a href="/singles/new">
                          <strong>Add a new single</strong>
                        </a>
                      </li>
                      <li>
                        <a href="/ringtones/new">
                          <strong>Add a new ringtone</strong>
                        </a>
                      </li>
                      <li>
                        <a href="/credits">
                          <strong>Distribution Credits</strong>
                        </a>
                      </li>
                      <li>
                        <a href="/videography">
                          <strong>Videography</strong>
                        </a>
                      </li>
                    </ul>
                  </li>
                  <li>
                    <a href="#" tabindex="0">Publishing Administration</a>
                    <ul class="publishing_administration">
                        <li>
                          <a href="/songwriters">
                            <strong>How it works</strong>
                          </a>
                        </li>
                        <li>
                          <a href="http://pub.help.tunecore.com/app/home" target="_blank">
                            <strong>Knowledge Base</strong>
                          </a>
                        </li>
                        <li>
                          <a href="/index/terms#publishing_administration_terms"><strong>Terms &amp; Conditions</strong></a>
                        </li>
                        <li>
                          <a href="/composers/new">
                            <strong>Sign Up</strong>
                          </a>
                        </li>
                    </ul>
                  </li>
                  <li>
                    <a href="/artist_services" class="artist_services">Artist Services</a>
                  </li>
                  <li>
                    <a href="/youtube_monetizations" class="artist_services">YouTube Monetization</a>
                  </li>
                    <li>
                      <a href="http://web.dropkloud.com/users/auth/tunecore" class="dropkloud_link">Dropkloud</a>
                    </li>
                  <li>
                    <a href="#" tabindex="0">Money &amp; Reports</a>
                    <ul class="reports">
                      <li>
                        <a href="/my_account/list_transactions">
                          <strong>Balance $649.43</strong>
                        </a>
                      </li>
                      <li>
                        <a href="/sales/date_report" class="loadingDialog">
                          <strong>Music Sales</strong>
                        </a>
                      </li>
                      <li>
                        <a href="/youtube_royalties/release_report">
                          <strong>YouTube Sound Recording Revenue</strong>
                        </a>
                      </li>
                      <li>
                        <a href="/trend_reports" class="loadingDialog">
                          <strong>Daily Trend Reports</strong>
                        </a>
                      </li>
                      <li>
                        <a href="/my_account/exports">
                          <strong>Downloadable Sales Reports</strong>
                        </a>
                      </li>
                      <li>
                        <a href="/my_account/youtube_exports">
                          <strong>Downloadable YouTube Reports</strong>
                        </a>
                      </li>
                    </ul>
                  </li>
                  <li>
                    <a href="#" tabindex="0">My Account</a>
                    <ul class="account">
                      <li>
                        <a href="/people/852257/edit">
                          <strong>Account Settings</strong>
                        </a>
                      </li>
                      <li>
                        <a href="/payment_preferences">
                          <strong>Payment Preferences</strong>
                        </a>
                      </li>
                        <li>
                          <a href="/stored_bank_accounts">
                            <strong>Bank Account</strong>
                          </a>
                        </li>
                      <li>
                        <a href="/subscriptions">
                          <strong>Subscriptions</strong>
                        </a>
                      </li>
                      <li>
                        <a href="/history">
                          <strong>Order History</strong>
                        </a>
                      </li>
                      <li>
                        <a href="/my_account/list_transactions">
                          <strong>Balance History</strong>
                        </a>
                      </li>
                        <li>
                          <a href="/my_account/withdraw">
                            <strong>Withdraw Money</strong>
                          </a>
                        </li>
                    </ul>
                  </li>
                  <li>
                    <a href="#" tabindex="0">Promote</a>
                    <ul class="promote">
                      <li>
                        <a href="/guides">
                          <strong>Survival Guides</strong>
                        </a>
                      </li>
                      <li>
                        <a href="/bandpages/new">
                          <strong>Band Page</strong>
                        </a>
                      </li>
                      <li>
                        <a href="/band_photos">
                          <strong>Band Photo</strong>
                        </a>
                      </li>
                      <li>
                        <a href="/widgets">
                          <strong>Media Players</strong>
                        </a>
                      </li>
                      <li>
                        <a href="/fans">
                          <strong>Fans</strong>
                        </a>
                      </li>
                    </ul>
                  </li>
                  <li>
                    <a class="logout" href="/logout">Log Out</a>
                  </li>
                </ul>
              </nav>
            </menu>
            <a href="/cart" class="mobile-cart"><i class="fa fa-shopping-cart fa-lg fa-2x"></i></a>
            <menu class="notifications seen">
              <a href="/notifications/dropdown" class="notifications_link" data-remote="true" data-type="html"><i class="fa fa-bell fa-lg fa-2x"></i> <div class="notifications_count">0</div></a>
              <section class="notifications_dropdown hidden">
                <header>
                  <h1>Notifications</h1>
                </header>
                <ul></ul>
                <footer>
                  <a href="/notifications">View all notifications</a>
                </footer>
              </section>
            </menu>
            <div class="balance">
              <a href="/my_account/list_transactions">$649.43</a>
            </div>
          </menu>
      </div>
    </div>
  </section>
</header>
